@import "tailwindcss";

@theme{
    --color-primary : #7C4EE4;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

*{
    font-family: 'Raleway', sans-serif;
}