@import "tailwindcss";

@theme{
    --color-primary : #7C4EE4;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
@layer base {
    body{
        @apply bg-[#FAFAFA]
    }
    *{
        font-family: 'Raleway', sans-serif;
    }
    img{
        object-fit: cover;
    }
}
@layer components{
    .padding-x{
        @apply px-6;
        @apply sm:px-10;
        @apply md:px-14;
    }
}
#hero-section::before , #hero-section::after{
    content: url("../assets/icons/hero-section-shape.svg");
    @apply hidden xl:block;
    position: absolute;
    z-index: 1;
}
#hero-section::before{
    top: 0;
    left: 0;
}
#hero-section::after{
    bottom: 0;
    right: 0;
    rotate: 180deg;
}